# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Firebase
serviceAccountKey.json
.firebase/

# Production files
public/static/

# Environment files
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db 